In [20]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
user_rating = pd.DataFrame([["ivan", "2pac", "5.0"]],
                           columns=['userid', 'artist-name', 'rating'])

user_ratings = pd.read_csv(    
    '../utils/preprocessed_user_item_rating.csv').drop("Unnamed: 0", axis=1)

In [11]:
user_ratings.head()

        userid        artist-name  rating
0  user_001000              Wilco     5.0
1  user_001000          Radiohead     4.9
2  user_001000  Animal Collective     4.7
3  user_001000          Girl Talk     4.6
4  user_001000         Aesop Rock     4.2

In [16]:
user_ratings.columns

Index(['Unnamed: 0', 'userid', 'artist-name', 'rating'], dtype='object')

In [21]:
user_ratings.count()

userid         167494
artist-name    167494
rating         167494
dtype: int64

In [15]:
ratings = pd.concat([user_rating, user_ratings])

In [26]:
ratings.head()

                  userid        artist-name rating
artist-name            x               2pac    5.0
0            user_001000              Wilco    5.0
1            user_001000          Radiohead    4.9
2            user_001000  Animal Collective    4.7
3            user_001000          Girl Talk    4.6

In [24]:
ratings[ratings["userid"]=="ivan"]

Empty DataFrame
Columns: [userid, artist-name, rating]
Index: []

In [25]:
ratings.count()

userid         167495
artist-name    167495
rating         167495
dtype: int64

In [19]:


agg_ratings = ratings.groupby('artist-name').agg(mean_rating=('rating', 'mean'),
                                                 number_of_ratings=('rating', 'count')).reset_index().sort_values('number_of_ratings',  ascending=False)

agg_ratings = agg_ratings[agg_ratings['number_of_ratings'] > 10]
agg_ratings.head()

       artist-name  mean_rating  number_of_ratings
24976    Radiohead     1.277399                469
30270  The Beatles     1.316489                376
6400      Coldplay     1.002011                348
31454  The Killers     0.861967                305
30659     The Cure     0.999308                289

In [21]:



agg_ratings = ratings.groupby('artist-name').agg(mean_rating=('rating', 'mean'),
                                                 number_of_ratings=('rating', 'count')).reset_index().sort_values('number_of_ratings',  ascending=False)

agg_ratings = agg_ratings[agg_ratings['number_of_ratings'] > 10]
agg_ratings.head()

       artist-name  mean_rating  number_of_ratings
24976    Radiohead     1.277399                469
30270  The Beatles     1.316489                376
6400      Coldplay     1.002011                348
31454  The Killers     0.861967                305
30659     The Cure     0.999308                289

In [25]:
ratings_final = pd.merge(
    ratings, agg_ratings[['artist-name']], on='artist-name', how='inner')
print("CREATING MATRIX")
ratings_final.head()

CREATING MATRIX

Empty DataFrame
Columns: [userid, artist-name, rating]
Index: []

In [27]:
print(agg_ratings.count())
print(ratings_final.count())

artist-name          2712
mean_rating          2712
number_of_ratings    2712
dtype: int64
userid         0
artist-name    0
rating         0
dtype: int64

In [22]:
ratings_final = pd.merge(
    ratings, agg_ratings[['artist-name']], on='artist-name', how='inner')
print("CREATING MATRIX")
matrix = ratings_final.pivot_table(
    index='artist-name', columns='userid', values='rating')

CREATING MATRIX